*{
    margin:0px;
    padding: 0px;
} 

html,
body {
    height: 100%;
    background-color: #1B2430;
}

.text_box {
    width: 49%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid  whitesmoke;
    align-content: flex-start;
    border-radius: 5px;
}

.text_box1 {
    overflow: auto;
    white-space: nowrap;
    width: 25%;
    height: 100%;
    border: 1px solid  whitesmoke;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 5px;
}
.text_box2 {
    overflow: auto;
    white-space: nowrap;
    width: 25%;
    height: 100%;
    border: 1px solid  whitesmoke;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 5px;
}

.navbar {
    font-size: 25px;
    font-family: sans-serif;
    background-color: #041C32   ;
    color: #FFE3D8;
}

#container{
    width: 100%;
    height: 70%;
    display: flex;
    margin: 0 auto;
    background-color: #1B2430;
    color: #FFE3D8;
}

#seq {
    text-align: center;
}

#undo{
    margin:auto;
    display:block;
}

#increase{
    margin:auto;
    display:block;
    background-color: #1f75de;
    border: none;
}

#decrease{
    margin:auto;
    display:block;
    background-color: #f848af;
    border: none;
}

#color{
    margin:auto;
    display:block;
    background-color: #ff9900;
    border: none;
}

#clear{
    margin:auto;
    display:block;
}

#hideStack{
    margin:auto;
    display:block;
}

#space{
    border: 5px solid   ;
}

#remain {
    background-color: #1B2430;
}
